[Global]
project-id = {{ gcp_project_id }}
network-name = {{ gcp_network_name }}
subnetwork-name = {{ gcp_subnetwork_name }}
node-tags = {{ gcp_node_ssh_tag }}
multizone = false
local-zone = {{ gcp_zone }}
